/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */

body {
  font-family: "Montserrat", "Manrope", sans-serif;
  background-color: #e5e5e5;
  line-height: 1.5;
  width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: block;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  background-image: linear-gradient(90deg, #fba24f, #ff1e1e);
  border-radius: 50px;
  cursor: pointer;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.heighlight {
  color: #fba24f;
}

/*                  */

/* Component styles */

/*   


*/
/* Header */
.main-header {
  width: 100%;
  height: 100vh;
  margin-bottom: 50px;
}

.hero-sec {
  width: 90%;
  margin: 40px auto 0;
}

.hero-sec-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.hero-sec-heading {
  font-size: 60px;
  color: #575757;
  letter-spacing: -1px;
  line-height: 1.1;
}
.hero-sec-heading span {
  display: block;
}
.hero-sec-text {
  color: #828282;
  font-size: 20px;
  font-weight: 500;
}

.hero-img {
  width: 100%;
}

/* About  */

.about-sec {
  width: 100%;
  background-image: url(../img/bg-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-top: 60px;
  margin-bottom: 40px;
}
.about-sec-content {
  width: 80%;
  margin: 0 auto;
}
.about-sec-figure {
  width: 50%;
}

.display-img {
  max-width: 450px;
}

.about-sec-text-box {
  width: 40%;
  align-self: flex-start;
  padding-top: 40px;
}

.about-sec-heading {
  font-size: 40px;
  color: #707070;
  margin-bottom: 26px;
  letter-spacing: -1px;
}

.about-sec-text {
  font-family: "Manrope", sans-serif;
  color: #18191f;
  font-size: 18px;
  margin-bottom: 56px;
}
.receipies-sec header {
  width: 50%;
  margin: 20px auto;
}

/* Receipies */

.receipies-sec-heading {
  font-size: 36px;
  color: #676767;
  text-align: center;
  margin-bottom: 20px;
}

.receipies-sec-des-text {
  font-size: 18px;
  color: #252525;
}

.receipies-sec article {
  width: 80%;
  margin: 0 auto;
  gap: 20px;
  color: #18191f;
}

.receipies-sec figure {
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.receipies-sec figure img {
  width: 100%;
  margin-bottom: 16px;
}

.recipie-heading {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0.2px;
  margin-bottom: 12px;
}

.recipie-info {
  font-size: 18px;
}

/* Testimonial */
.testimonial-sec {
  width: 80%;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 12px;
  padding: 40px;
  justify-content: space-evenly;
  align-items: center;
  color: #18191f;
}

.bold {
  font-size: 48px;
}

.testimonila-text {
  font-size: 16px;
}

.footer {
  background-color: #0b0d17;
  text-align: center;
  padding: 30px 0 50px;
  font-size: 16px;
  color: #fff;
}

.footer-heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #5b5b5b;
}
